# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Self Taught CSE Grad\Module 1\Kotlin\Kotlin course PPT\Week 2\Kotlin for Java Developers. Week 2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
